Exercise 1: Calculate the multiplication and sum of two numbers


Given two integer numbers, return their product only if the product is equal to or lower than 1000. Otherwise, return their sum.

In [1]:
def compute_result(num1, num2):
    if num1 * num2 <= 1000:
        return num1 * num2
    else:
        return num1 + num2  
       
result = compute_result(10, 20)
print(result)

200

Exercise 2: Print the sum of the current number and the previous number

Write a program to iterate the first 10 numbers, and in each iteration, print the sum of the current and previous number.

In [2]:
def iteration(num):
    prev_num = 0
    for i in range(num):
        print(prev_num + i)
        prev_num = i
result = iteration(10)    
print(result)

0
1
3
5
7
9
11
13
15
17
None

Exercise 3: Print characters from a string that are present at an even index number
Write a program to accept a string from the user and display characters that are present at an even index number.

For example, str = "pynative" so you should display ‘p’, ‘n’, ‘t’, ‘v’.

In [3]:
str = input("Enter a string:")
len = len(str)
for i in range(0,len-1,2):
    print(str[i])

e
m

Exercise 4: Remove first n characters from a string
Write a program to remove characters from a string starting from zero up to n and return a new string.

For example:

remove_chars("pynative", 4) so output must be tive. Here, we need to remove the first four characters from a string.
remove_chars("pynative", 2) so output must be native. Here, we need to remove the first two characters from a string.
Note: n must be less than the length of the string.

In [5]:
str = input("Enter a string:")
rem = int(input("Enter number of char to remove:"))

ans = str[rem:]
print(ans)

lo World

Exercise 5: Check if the first and last number of a list is the same
Write a function to return True if the first and last number of a given list is same. If numbers are different then return False.

In [7]:
def fun(num):
    for i in range(len(num)):
        if num[i] == num[len(num)-1]:
            return True
        else:
            return False

example_list = [1, 2, 3, 1]
print(fun(example_list))

TypeError: 'int' object is not callable

Exercise 6: Display numbers divisible by 5 from a list
Iterate the given list of numbers and print only those numbers which are divisible by 5

In [13]:
list = [10, 20, 33, 46, 55]
for i in range(len(list)):
    if list[i] % 5 == 0:
        print(i)

TypeError: 'int' object is not callable

Exercise 7: Return the count of a given substring from a string
Write a program to find how many times substring “Emma” appears in the given string.

In [9]:
str_x = "Emma is good developer. Emma is a writer"
cnt = str_x.count("Emma")
print(cnt)

2

Exercise 8: Print the following pattern

In [10]:
for num in range(10):
    for i in range(num):
        print (num, end =" ")
    print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

6 6 6 6 6 6

7 7 7 7 7 7 7

8 8 8 8 8 8 8 8

9 9 9 9 9 9 9 9 9

Exercise 9: Check Palindrome Number
Write a program to check if the given number is a palindrome number.

A palindrome number is a number that is the same after reverse. For example, 545, is the palindrome numbers

In [11]:
def palindrome(num):
    og_num = num
    rev_num = 0
   
    while num>0:
        rem = num % 10
        rev_num = (rev_num * 10) + rem
        num = num // 10
    if og_num == rev_num:
        print("Palindrome!")
    else:
        print("Not Palindrome!")
   
input = 123
print(palindrome(input))

Not Palindrome!
None

Exercise 10: Create a new list from two list using the following condition
Create a new list from two list using the following condition

Given two list of numbers, write a program to create a new list such that the new list should contain odd numbers from the first list and even numbers from the second list.

In [12]:
list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]

def func(list1,list2):
    result_list = []
    for i in list1:
        if list1[i] % 2 != 0:
            result_list.append(i)
    for j in list2:
        if list2[i] % 2 == 0:
            result_list.append(j)
    return result_list      
   
print("result list:", func(list1, list2))

IndexError: list index out of range

Exercise 11: Write a Program to extract each digit from an integer in the reverse order.

In [1]:
number = 7536
print("Given number", number)
while number > 0:
    # get the last digit
    digit = number % 10
    # remove the last digit and repeat the loop
    number = number // 10
    print(digit, end=" ")

Given number 7536
6 3 5 7

Exercise 12: Calculate income tax for the given income by adhering to the rules below

In [2]:
income = 45000
tax_payable = 0
print("Given income", income)

if income <= 10000:
    tax_payable = 0
elif income <= 20000:
    # no tax on first 10,000
    x = income - 10000
    # 10% tax
    tax_payable = x * 10 / 100
else:
    # first 10,000
    tax_payable = 0

    # next 10,000 10% tax
    tax_payable = 10000 * 10 / 100

    # remaining 20%tax
    tax_payable += (income - 20000) * 20 / 100

print("Total tax to pay is", tax_payable)

Given income 45000
Total tax to pay is 6000.0

 Accept a list of 5 float numbers as an input from the user. [78.6, 78.6, 85.3, 1.2, 3.5]

In [1]:
numbers = []
for i in range(0,5):
    print("Enter number at location", i, ":")
    item = float(input())
    numbers.append(item)
print("User List:", numbers)

Enter number at location 0 :
Enter number at location 1 :
Enter number at location 2 :
Enter number at location 3 :
Enter number at location 4 :
User List: [78.6, 65.44, 33.33, 54.56, 445.555]

Write all content of a given file into a new file by skipping line number 5